body {
  background-color: #464866;
}

a {
  text-decoration: none !important;
}

ul {
  margin-left: 0.5em !important;
}



.page-content {
  min-height: 70vh;
  height: 100%;
  /* margin: 2em; */
}

.landing {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navbar-menu.is-active {
  background-color: #25274d;
}

/* .modal-card {
  width: 25em !important;

} */

.login-box {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  height: fit-content;
  width: fit-content !important;
  margin: 0 !important;
}

.tile-page {
  margin: 2em !important;
}

.guest.button {
  margin-left: 0.5em;
}

.login-row {
  align-items: center;
}

@media screen and (max-width: 450px) {

  .login.input {
    width: 10em;
  }

  .modal-card-foot {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
  }

  .guest.button {
    margin-top: 0.5em;
    margin-left: 0 !important;
  }
}

/* Colors */

.is-primary {
  background: #2e9cca !important;
}

.is-success {
  background: #32965d !important;
}

.is-link {
  background: #1b79c5 !important;
}

.is-danger {
  background: #d64045 !important;
}

.is-warning {
  background: #fcdc4d !important;
}

.is-info {
  background: #494D97 !important;
}

/* .is-light {
  background: #aaabb8 !important;
} */

.is-dark {
  background: #25274d !important;
  color: #fff;
}

.is-title {
  background: #aaabb8 !important;
}

/* Nav */

.navbar a {
  color: #fff;
}
.navbar.is-dark .navbar-start > a.navbar-item:hover {
  background: #1B1C37 !important;
}
a.navbar-item:hover {
  background: #1B1C37 !important;
  color: #fff !important;
}

.menu {
  width: 25%;
  border: 1px black solid;
  margin: 1em;
}

.navbar {
  background: black;
}


.vertical {
  display: flex;
  flex-direction: column;
}

.vertical input {
  width: 20em;
  margin: 0.5em;
}

.login-row span {
  height: 100% !important;
}

/* Jobs Page */
.job {
  margin: 1em 0 1em 0 !important;
}

.job .notification {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.job .notification .left {
  display: flex;
  flex-direction: column;
}

.job .notification .left {
  width: fit-content;
}

.job .notification .left strong {
  font-size: 1.75em;
}

.job .notification .left h2 {
  margin: 0;
  padding-right: 2em;
  color: white;
}

.job .notification.is-warning .left h2 {
  color: rgba(0, 0, 0, 0.7);
}

.job .notification .left p {
  margin: 0 0 0 0;
}

.job .notification .right {
  align-self: center;
}

.job .notification .right .select {
  margin-right: 1em;
}

.file {
  width: fit-content;
}

.upload-row {
  margin-bottom: 2em;
}

@media screen and (max-width: 730px) {
  .job .notification .right .right-item {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 600px) {

  .job .notification {
    display: flex;
    flex-direction: column;
  }

  .job .notification .right {
    align-self: flex-start;
    margin: 1em 0 0 0;
  }
}

@media screen and (max-width: 360px) {

  .job .notification .right .right-item {
    margin: 0.5em 0 0.5em 0;
  }

  .job .notification .right .select {
    margin-right: 1em;
  }
}

/* Footer */

.footer strong {
  color: #fff
}

.footer a {
  color: white;
}

/* Details */

.controls {
  margin: 1em 0 0.5em 0;
  width: 11em;
  justify-content: space-between;
}

.notification {
  padding-right: 1.5rem !important;
}

.description {
  height: 30em;
}

.description textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.description .message-body {
  border: none;
}

.content ul {
  list-style-type: none !important;
}

.file-input {
  z-index: 1;
}

.file-name {
  background: white;
}

.checklist-input input {
  width: 80%
}

.checklist-input button {
  width: 20%;
}

.details.select {
  width: 9em;
}

.checklist .item {
  width:fit-content;
}

.checklist .item p {
  margin: 0 1em 0 1em !important;
}
.file-row {
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  align-items: center;
}

.file-row a {
  margin-right: 0.5em;
  font-size: 0.75em;
}

.fa-file {
  margin-right: 0.25em;
  font-size: 1em !important;
}

.website {
  width: fit-content;
}
.description {
  margin-top: 1em;
}

.tile.is-ancestor {
  margin: 1em;
}

.task-delete {
  color: #25274d !important;
}

@media screen and (min-width: 768px) and (max-width: 900px) {

  .file-row a {
    font-size: 0.45em;
  }

  .fa-file, .file.fa-minus-circle {
    font-size: 0.8em !important;
  }
}

/* Add Job */

.tile.add-job input {
  margin: 0.5em 0 0.5em 0;
}